<html>
<head>
	<title>Map/GIS API Demo Page - {{boundaryset.name}}</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<style>
		body { margin: 0; padding: 0; font-family: sans-serif; background-color: #F3F3F3; }
		h1 { margin: .5em; text-align: center; }
		h2 { font-size: 1.25em; }
		h3 { font-size: 1.1em; }
		.map { border: 1px solid black; }
		#click, #mousemove { font-weight: bold; font-size: 120%; }
		
		dl.api_points {
			margin-left: 2em;
			font-size: 95%;
		}
		dl.api_points dt a {
			font-family: mono;
		}
		dl.api_points dd {
			margin: .25em 0 1em 0;
		}
		
		table.api_fields {
			margin-left: 2em;
		}
		table.api_fields th, table.api_fields td {
			font-size: 95%;
			text-align: left;
		}
		
		#about_layer p {
			font-size: 95%;
			margin: 0 0 .5em 2em;
		}
	</style>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"> </script>

	
	<!-- FOR GOOGLE MAPS API V3 -->
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="/static/js/google_maps_helpers.js"></script>
	
	<!--- FOR OPEN STREET MAP w/ OPENLAYERS -->
	<script src="http://www.openlayers.org/api/OpenLayers.js"></script>

	<!--- COMMON HELPERS -->
	<script type="text/javascript" src="/static/js/maps_helpers.js"></script>

	
	<script type="text/javascript">
		var did_initialize_google = false;
		var did_initialize_osm = false;
		function initialize() {
			// Adjust the height of the maps.
			$('#map_col').css({ height: $('#map_col').width() * 3.5/4 });
			
			// Since we toggle between the two maps, initialize them only when
			// they are first shown.
			if ($('#map_canvas_google').is(':visible') && !did_initialize_google) { initialize_google(); did_initialize_google = true; }
			if ($('#map_canvas_osm').is(':visible') && !did_initialize_osm) { initialize_osm(); did_initialize_osm = true; }
		}
		
	
		/*** FOR GOOGLE MAPS API V3 ***/
		function initialize_google() {
			// Create a basic roadmap centered on the United States.
			var myOptions = {
				zoom: 4,
				center: new google.maps.LatLng(38, -96),
				mapTypeId: google.maps.MapTypeId.ROADMAP,
				panControl: false,
				zoomControl: true,
				mapTypeControl: false,
				scaleControl: true,
				streetViewControl: false,
				styles: [ { "featureType": "poi.park", "elementType": "geometry.fill", "stylers": [ { "visibility": "off" } ] } ]
				};
			map = new google.maps.Map(document.getElementById("map_canvas_google"), myOptions);
			
			{% if boundaryset.extent %}
			map.fitBounds(new google.maps.LatLngBounds(
				new google.maps.LatLng({{boundaryset.extent.1}}, {{boundaryset.extent.0}}),
				new google.maps.LatLng({{boundaryset.extent.3}}, {{boundaryset.extent.2}})));
			{% endif %}
			
			// Add a tile overlay for this layer.
			var tileimgformat = 'png';
			if (navigator.appName == 'Microsoft Internet Explorer' && new RegExp("MSIE [678]").exec(navigator.userAgent)) tileimgformat = 'gif';
			overlay = new google.maps.ImageMapType({
			  getTileUrl: function(coord, zoom) {
			  	  // We can serve tiles larger than the default of 256, which might improve performance,
			  	  // since fewer HTTP requests will need to be made in a typical page load. To demonstrate,
			  	  // the tileSize is set to 512 below, the size is passed to the server, and since the
			  	  // size is double what Google will be using for its own tiles, we pass a one-lower zoom
			  	  // level to our tile server.
				  return "/map/tiles/{{layer.slug|escapejs}}{% if boundary %}/{{boundary.slug|escapejs}}{% endif %}/" + (zoom-1) + "/" + coord.x + "/" + coord.y + "." + tileimgformat + "?size=512{% if request.GET.gen %}&gen={{request.GET.gen|urlencode}}{% endif %}{% if request.GET.nocache %}&nocache=1{% endif %}";
			  },
			  tileSize: new google.maps.Size(512, 512),
			  isPng: tileimgformat == 'png',
			  
			  /* You can play with these settings. */
			  minZoom: 3,
			  maxZoom: 28,
			  opacity: tileimgformat == 'png' ? .8 : .25
			});
			map.overlayMapTypes.insertAt(0, overlay);

			{% if boundary %}
			$.ajax("/boundaries/{{boundaryset.slug|escapejs}}/{{boundary.slug|escapejs}}",
				{
					success: function(res) {
						if (res && res.extent) {
							var b = new google.maps.LatLngBounds(new google.maps.LatLng(res.extent[1], res.extent[0]), new google.maps.LatLng(res.extent[3], res.extent[2]));
							map.fitBounds(b);
						}
					}
				});
			{% endif %}
			
			// Create a click handler.
			google.maps.event.addListener(map, "click", function(e) {
				onclick(e.latLng.lat(), e.latLng.lng());
			});
			
			// Create a fast mouse move handler.
			google.maps.event.addListener(map, "mousemove", function(e) {
				map_hit_test(
					getTileCoordinate(e.latLng, map),
					"{{layer.slug|escapejs}}",
					{% if boundary %}"{{boundary.slug|escapejs}}"{% else %}null{% endif %},
					function(key, data) {
						if (data) $('#mousemove').text("[" + data.name + "]");
					}
					);
			});
		}
		
		/*** FOR OPEN STREET MAP w/ OPENLAYERS ***/
		function initialize_osm() {
			// Create a basic OSM map.
			var options = {
				controls: [
					new OpenLayers.Control.Navigation(),
					new OpenLayers.Control.PanZoomBar(),
					new OpenLayers.Control.Attribution()
				]
			};
			var map = new OpenLayers.Map("map_canvas_osm", options);
			
			var mapnik = new OpenLayers.Layer.OSM();
			map.addLayer(mapnik);
			
			var overlay = new OpenLayers.Layer.XYZ(
				"{{layer.name|escapejs}}", 
				[ "/map/tiles/{{layer.slug|escapejs}}{% if boundary %}/{{boundary.slug|escapejs}}{% endif %}/${z}/${x}/${y}.png?{% if request.GET.gen %}&gen={{request.GET.gen|urlencode}}{% endif %}{% if request.GET.nocache %}&nocache=1{% endif %}" ],
				{
					attribution: "{{layer.authority}}",
					sphericalMercator: true,
					isBaseLayer: false
				});
			map.addLayer(overlay);
			
			var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
			var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection

			{% if boundaryset.extent %}
			map.zoomToExtent(new OpenLayers.Bounds({{boundaryset.extent}}).transform( fromProjection, toProjection));
			{% else %}
			var position       = new OpenLayers.LonLat(-96, 38).transform( fromProjection, toProjection);
			map.setCenter(position, 4);
			{% endif %}

			{% if boundary %}
			$.ajax("/boundaries/{{boundaryset.slug|escapejs}}/{{boundary.slug|escapejs}}",
				{
					success: function(res) {
						if (res && res.extent) {
							map.zoomToExtent(new OpenLayers.Bounds(res.extent).transform(fromProjection, toProjection).toArray(), false);
						}
					}
				});
			{% endif %}
			
			// Create a click handler.
			OpenLayers.Control.Click = OpenLayers.Class(OpenLayers.Control, {                
                defaultHandlerOptions: {
                    'single': true,
                    'double': false,
                    'pixelTolerance': 0,
                    'stopSingle': false,
                    'stopDouble': false
                },
                initialize: function(options) {
                    this.handlerOptions = OpenLayers.Util.extend(
                        {}, this.defaultHandlerOptions
                    );
                    OpenLayers.Control.prototype.initialize.apply(
                        this, arguments
                    ); 
                    this.handler = new OpenLayers.Handler.Click(
                        this, {
                            'click': this.trigger
                        }, this.handlerOptions
                    );
                }, 
                trigger: function(e) {
                    var lonlat = map.getLonLatFromPixel(e.xy);
                    lonlat = lonlat.transform(toProjection, fromProjection)
                    onclick(lonlat.lat, lonlat.lon);
                }
            });
            var click = new OpenLayers.Control.Click();
			map.addControl(click);
			click.activate();
		}
		
		/*** COMMON FUNCTIONS ***/
		function onclick(lat, lng) {
			$('#click').text('[Loading...]');
			$.ajax(
				"/boundaries/{{boundaryset.slug|escapejs}}/?contains=" + lat + "," + lng,
				{
					success: function(res) {
						if (res.objects.length > 0) {
							$('#click').text('[' + res.objects[0].external_id + ']');
						} else {
							$('#click').text('[You clicked on an empty spot.]');
						}
					}
				}
			);
		}
	</script>
</head>
<body onload="initialize()">
	<h1>{{layer.name}}</h1>
	
	<p style="text-align: center; margin: 1em 5em 1em 5em">Data from <a href="{{boundaryset.source_url}}">{{boundaryset.authority}}</a>.</p>
	<p style="text-align: center; margin: 1em 5em 2em 5em">Map and API infrastructure based on <a href="https://github.com/tauberer/represent-boundaries">represent-boundaries</a> (originally by Chicago Tribune/OpenNorth) and <a href="https://github.com/tauberer/represent-maps">represent-maps</a>.</p>
	
	<div style="float: left; width: 50%;">
		<div style="padding: 1em">
			<p>This page demonstrates how to access the GIS <b>API</b> and how to display colorful <b>map layers</b> for the {{boundaryset.name}} data hosted here.</p>

			<p>Here is the metadata stored with this layer:</p>
			<div id="about_layer">
			{% if boundaryset.authority %}<p>Authority: {% if layer.authority %}{{layer.authority}} / {% endif %}{{boundaryset.authority}}</p>{% endif %}
			{% if boundaryset.domain %}<p>Domain: {{boundaryset.domain}}</p>{% endif %}
			<p>Last Updated: {{layer.last_updated}} (layer) / {{boundaryset.last_updated}} (geography)</p>
			{% if boundaryset.source_url %}<p>Source URL: {% if layer.source_url %}{{layer.source_url}} /  {% endif %}{{boundaryset.source_url}}</p>{% endif %}
			{% if boundaryset.notes or layer.notes %}<p>Notes: {% if layer.notes %}{{layer.notes}} /  {% endif %}{{boundaryset.notes}}</p>{% endif %}
			{% if boundaryset.license_url or layer.license_url %}<p>License URL: {% if layer.license_url %}{{layer.licence_url}} /  {% endif %}{{boundaryset.licence_url}}</p>{% endif %}
			</div>
			
			<h2>Creating Maps</h2>
			<p>This is a demo page for using either Google Maps API v3 or OpenLayers with Open Street Map [<a href="#" onclick="$('.map').toggle(); initialize(); return false;">Toggle Google/OSM</a>]. View the source to see how it&rsquo;s done.</p>
			<p>Click on the map <span id="click"> </span> or hover over the map (Google Maps only) <span id="mousemove"> </span>  to see what&rsquo;s there.</p>
			
			{% if not boundary %}
				<p>Maps can also be made for individual boundaries, such as <a href="/map/demo/{{layer.slug|urlencode}}/{{doc_boundary.slug|urlencode}}">this map for {{doc_boundary.name}}</a>.<p>
			{% else %}
				<p>View the demo map page for the <a href="/map/demo/{{layer.slug|urlencode}}">entire layer</a>.<p>
			{% endif %}
			
			<h2>Using the API</h2>
		
			<p>The geospatial information here is modeled in BoundarySets, Boundaries, MapLayers, and MapLayerBoundaries. You are looking at the page for the MapLayer named <tt>{{layer.slug}}</tt>, which is based on the BoundarySet named <tt>{{boundaryset.slug}}</tt>.</p>
			
			{% with doc_boundary as boundary %} 
				{% include "boundaries/apidoc.html" %}
			{% endwith %}
			
			<h3>MapLayer/MapLayerBoundary</h3>
			
			<p>There is no API for MapLayers and MapLayerBoundaries at this time.</p>
		</div>
	</div>
	
	<div id="map_col" style="float: left; width: 49%;">
		<div id="map_canvas_google" class="map" style="width: 100%; height: 100%;"> </div>
		<div id="map_canvas_osm" class="map" style="width: 100%; height: 100%; display: none;"> </div>
	</div>
</body>
</html>
